@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

.map-container {
    height: 90vh;
}

body {
    @apply bg-white
}

.glassmorphism {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
